# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
ENV/
env/

# Pytest
.pytest_cache/
.coverage

# IDE / Editor specific
.vscode/
.idea/

# OS specific
.DS_Store

# Local files
missing_emails.json
email_update_errors.json 